:root {
    --font-main: 'Poppins', sans-serif;
    --font-secondary: 'Nunito', sans-serif;
    --blue-main: #6688FF;
    --green-main: #2CBE82;
    --red-main: #DA2B40;
    --white: #FFFFFF;
    --text-primary: #333333;
    --text-secondary: #3B3E45;
    --monday-bg: #FFA246;
    --tuesday-bg: #35E185;
    --thursday-bg: #B266FF;
    --friday-bg: #66D1FF;
    --saturday-bg: #FF66D4;
    --sunday-bg: #FF6666;
    --hour-bg: rgba(102, 136, 255, 0.4);
    --bg-button: #98031E;
    --error: #F55D5D;
    --error-hour: #f55d5db7;
    --conflit-hour: #FF6D6D;
}

body {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 17px;
    background-color: #E5E5E5;
    background-image: url('../../img/bola-LogoCompasso\ 1.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 100vh;
}