
.cards__planner-list {
    display: flex;
    flex-direction: column;
}

.cards__planner-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding-left: 4.8rem;
}

.cards__planner-hour {
    padding: 2rem 1.5rem;
    border-radius: 10px;
    font-family: var(--font-secondary);
}

.cards__planner-task {
    width: 512px;
    height: 85px;
    margin-left: 1rem;
    background-color: var(--white);
    box-shadow: 0px 2px 5.5px rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(10.5px);
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
}

.cards__planner-task-text {
    padding: 1rem;
    font-size: 20px;
    width: 425px;
}

.cards__planner-task-button {
 background-color: var(--bg-button);
 color: var(--white) ;
 border-radius: 4px;
 outline: none;
 border: none;
 padding: .3rem;
 position: absolute;
 top: 3%;
 right: 1%;
 cursor: pointer;
}


/* utilities */

.sameHour-bg {
    background-color: var(--error-hour);
}

.sameHour-bg::before {
    content: "";
    width: 14px;
    height: 85px;
    background: var(--error);
    border-radius: 15px 0px 0px 15px;
}

.Monday {
    background-color: var(--monday-bg);
}

.Tuesday {
    background-color: var(--tuesday-bg);
}

.Wednesday {
    background-color: var(--blue-main);
}

.Thursday {
    background-color: var(--thursday-bg);
}

.Friday {
    background-color: var(--friday-bg);
}

.Saturday {
    background-color: var(--saturday-bg);
}

.Sunday {
    background-color: var(--sunday-bg);
}

.MondayBefore::before {
    content: "";
    width: 14px;
    height: 85px;
    background-color: var(--monday-bg);
    border-radius: 15px 0px 0px 15px;
}

.TuesdayBefore::before {
    content: "";
    width: 14px;
    height: 85px;
    background-color: var(--tuesday-bg);
    border-radius: 15px 0px 0px 15px;
}
.WednesdayBefore::before {
    content: "";
    width: 14px;
    height: 85px;
    background-color: var(--blue-main);
    border-radius: 15px 0px 0px 15px;
}
.ThursdayBefore::before {
    content: "";
    width: 14px;
    height: 85px;
    background-color: var(--thursday-bg);
    border-radius: 15px 0px 0px 15px;
}
.FridayBefore::before {
    content: "";
    width: 14px;
    height: 85px;
    background-color: var(--friday-bg);
    border-radius: 15px 0px 0px 15px;
}
.SaturdayBefore::before {
    content: "";
    width: 14px;
    height: 85px;
    background-color: var(--saturday-bg);
    border-radius: 15px 0px 0px 15px;
}
.SundayBefore::before {
    content: "";
    width: 14px;
    height: 85px;
    background-color: var(--sunday-bg);
    border-radius: 15px 0px 0px 15px;
}