
.filter__form {
    margin-top: 10rem;
    justify-content: center;
    display: flex;
}

.filter__form-input {
    padding: 0.625rem 5rem;
    border-radius: 10px;
    border: 1px solid var(--green-main);
    outline: none;
    font-size: 14px;
    margin: 1rem;
}

.filter__form-select {
    padding: 0.625rem 2rem;
    border-radius: 10px;
    border: 1px solid var(--green-main);
    outline: none;
    font-size: 14px;
}

.filter__form-input-hour {
    padding: 0.625rem 2rem;
    border-radius: 10px;
    border: 1px solid var(--green-main);
    outline: none;
    font-size: 14px;
    margin: 1rem;
}

.filter__form-addButton {
    background-color: var(--green-main);
    border: none;
    outline: none;
    padding: 0.625rem 2rem;
    border-radius: 10px;
    color: var(--white);
    font-family: var(--font-secondary);
    font-size: 17px;
    cursor: pointer;
}

.filter__form-addButton:hover,
.filter__form-removeButton:hover {
    opacity: .8;
}

.filter__form-removeButton {
    background-color: var(--red-main);
    border: none;
    outline: none;
    padding: 0.625rem 3rem;
    border-radius: 10px;
    color: var(--white);
    font-family: var(--font-secondary);
    font-size: 17px;
    cursor: pointer;
    margin: 1rem;
}

.filter__days-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.filter__days-list-item {
    font-weight: 700;
    padding: .7rem 2rem;
    color: white;
    border-radius: 9px 9px 0px 0px;
    margin: .35rem;
}

.Hour {
    padding: 2rem 1rem;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    font-family: var(--font-secondary);
    color: var(--text-secondary);
}